
  .Buttoni{
    margin-left: 100vh;
    background-color: #12457f;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: aliceblue;
    
  }
   .Buttoni:hover{
    background-color: #2e87c0;
   }