.desktop-1-child {
  position: absolute;
  top: 19.4px;
  left: 94.7px;
  width: 300.3px;
  height: 102.6px;
  object-fit: cover;
}
.sign-in {
  position: absolute;
  top: 167px;
  left: 1139px;
  text-decoration: underline;
  letter-spacing: -0.02em;
  line-height: 18.57px;
  color: var(--color-khaki);
}
.message-from-chairman {
  position: absolute;
  top: 765px;
  left: 178px;
  font-size: 33.7px;
  text-transform: uppercase;
}
.desktop-1-inner,
.desktop-1-item,
.rectangle-div {
  position: absolute;
  top: 856px;
  left: 557px;
  border-radius: var(--br-22xl);
  background-color: var(--color-whitesmoke);
  width: 910px;
  height: 443px;
}
.desktop-1-inner,
.rectangle-div {
  left: 166px;
  width: 334px;
}
.rectangle-div {
  top: 253px;
  left: 61px;
  width: 1436px;
  height: 495px;
}
.csd-afd {
  margin: 0;
}
.csd-afd-portal-container,
.the-canteen-stores {
  width: 590.6px;
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.the-canteen-stores {
  width: 521.7px;
  font-size: 17px;
  line-height: 31.65px;
  white-space: pre-wrap;
}
.title {
  position: absolute;
  top: 0.3px;
  left: 54.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.43px 0;
}
.shop-now {
  position: relative;
}
.button {
  border-radius: 25.32px;
  border: 1.2px solid var(--gray-700);
  box-sizing: border-box;
  height: 47.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6.3300323486328125px 16.432762145996094px;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.watch-video {
  position: absolute;
  top: 8.3px;
  left: 50.6px;
}
.video {
  width: 141.6px;
  position: relative;
  height: 38px;
}
.button1,
.search-bar,
.video-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.video-wrapper {
  justify-content: flex-start;
  color: var(--gray-200);
}
.button1,
.search-bar {
  border-radius: 75.96px;
  background-color: var(--white);
  justify-content: center;
}
.button1 {
  width: 126.6px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 47.5px;
  padding: 6.3300323486328125px;
  color: var(--color-black);
}
.search-bar {
  position: absolute;
  top: 317px;
  left: 38px;
  box-shadow: 22.8px 19px 39.56px rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(3.17px);
  padding: 25.32012939453125px;
  gap: 0 25.32px;
  font-size: var(--font-size-mini-2);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.hero-child {
  position: absolute;
  top: 10.3px;
  left: 677.9px;
  border-radius: 42.11px;
  width: 635.7px;
  height: 404.7px;
  object-fit: cover;
}
.hero {
  position: absolute;
  top: 272px;
  left: calc(50% - 663px);
  width: 1329px;
  height: 501px;
  overflow: hidden;
  font-size: 61.6px;
}
.image-28-icon {
  position: absolute;
  top: 897px;
  left: 231px;
  border-radius: 13px;
  width: 205px;
  height: 270px;
  object-fit: cover;
}
.attention-esteemed-beneficiar {
  margin: 0;
  font-weight: 600;
}
.i {
  text-transform: capitalize;
}
.t-has-come {
  text-transform: lowercase;
}
.w {
  text-transform: uppercase;
}
.it-has-come-to-our-notice-that1 {
  line-height: 32px;
}
.it-has-come-to-our-notice-that {
  margin: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.attention-esteemed-beneficiar-container {
  position: absolute;
  top: 883px;
  left: 662px;
  text-align: center;
  display: inline-block;
  width: 701px;
  font-size: var(--font-size-xl-7);
  font-family: var(--font-montserrat);
}
.maj-gen-satinder-container {
  position: absolute;
  top: 1201px;
  left: 167px;
  font-size: var(--font-size-mini-2);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 320px;
}
.desktop-1-child1 {
  position: absolute;
  top: 1952px;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1550px;
  height: 44px;
}
.privacy-policy1 {
  text-decoration: underline;
}
.privacy-policy {
  color: inherit;
}
.copyrights-csd-container {
  position: absolute;
  top: 1963px;
  left: calc(50% - 291px);
  font-size: 14px;
  line-height: 22px;
  color: var(--white);
}
.rectangle-icon {
  position: absolute;
  top: 1358px;
  left: 188px;
  border-radius: var(--br-22xl);
  width: 1216px;
  height: 524px;
  object-fit: cover;
}
.brand {
  position: absolute;
  top: 1397px;
  left: 954px;
  opacity: 0.5;
}
.explore-our-latest {
  position: absolute;
  top: 1414px;
  left: 920px;
  font-size: 27.7px;
  font-family: var(--font-open-sans);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1996px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-open-sans);
}
