@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-open-sans: "Open Sans";
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini-2: 14.2px;
  --font-size-base: 16px;
  --font-size-xl-7: 20.7px;
  --font-size-3xl-6: 22.6px;

  /* Colors */
  --white: #fff;
  --color-darkslategray-100: #3c4043;
  --gray-700: #333;
  --color-darkslateblue: #043873;
  --color-black: #000;
  --gray-200: #999;
  --color-whitesmoke: #f8f9fa;
  --color-khaki: #ffe492;
  --color-mediumslateblue: #7b61ff;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-0: 0px;

  /* Paddings */
  --padding-6xs-3: 6.3px;
  --padding-smi-9: 12.9px;
  --padding-158xl-6: 177.6px;
  --padding-13xl-3: 32.3px;
  --padding-21xl: 40px;
  --padding-45xl: 64px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-22xl: 41px;
  --br-57xl: 76px;
  --br-2xs-8: 10.8px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-21xl: 40px;
}
